annotated-types==0.7.0
anyio==4.9.0
boto3==1.40.56
botocore==1.40.56
cachetools==6.2.1
certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
colorama==0.4.6
fastapi==0.115.13
google-api-core==2.26.0
google-auth==2.41.1
# google-cloud-dialogflow==2.42.0  # removed (Dialogflow no longer used)
googleapis-common-protos==1.71.0
grpcio==1.75.1
grpcio-status==1.75.1
gunicorn==23.0.0
h11==0.16.0
idna==3.10
jmespath==1.0.1
joblib==1.5.1
numpy==2.3.1
packaging==25.0
pandas==2.3.0
proto-plus==1.26.1
protobuf==6.33.0
pyarrow==21.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pydantic==2.11.7
pydantic_core==2.33.2
python-dateutil==2.9.0.post0
python-multipart==0.0.20
pytz==2025.2
requests==2.32.4
rsa==4.9.1
s3transfer==0.14.0
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
sniffio==1.3.1
starlette==0.46.2
threadpoolctl==3.6.0
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.34.3

# Optional language detection dependencies
pycld3
opencc